.message-container{
    border-left: solid green 5px;
    padding: 5px;
}

.profile-picture img{
    width: 40px;
    height: 40px;
    padding-right: 10px;
}

.user-name{
    display: flex;
}

.profile-picture{
    flex: 20%;
}

.info{
    flex: 80%;
    display: block;
}

.status{
    font-size: 12px;
    color: green;
}

.message-snippet{
    word-break:break-all;
}