<div class="body">
    <div class="left-pane bg">
        <div class="snippets">
            <div *ngIf='friends != undefined'>
                <app-message-snippet  *ngFor='let friend of friends; let i = index' [username]='friend.username' class='snippet' (click)='selectSnippet(i)' [ngClass]="{'active': activeIndex === i}"></app-message-snippet>
            </div>
        </div>
    </div>

    <div class="right-pane">
        <div *ngIf='friends != undefined'>
            
            <app-message-window [messengerID]='getMessengerID()' [messages]='messages' [receiver]='getUsername()' class='message-window'></app-message-window>
            
        </div>
    </div>
</div>
