<div class='post bg' *ngIf='post != null && user != null'>
    
    <div class='header'>

        <div class='profile-picture'>
            <img *ngIf='user.profilePictureURL !== undefined' src="{{user.profilePictureURL}}">
            <img *ngIf='user.profilePictureURL == undefined' src="https://i.pinimg.com/564x/d9/56/9b/d9569bbed4393e2ceb1af7ba64fdf86a.jpg">
        </div>

        <ul>
            <li class='owner'><a>{{user.username}}</a></li>
            <li class='time'><a>{{post.date}} {{post.time}}</a></li>
        </ul>
    </div>

    <div class='body'>
        {{post.text}}
    </div>

    <!-- Post extra functions. EX: Like, Dislike, Comment, Favorite

    <div class='footer bg'>
        <ul>
            <li><i class="fa fa-thumbs-o-up" aria-hidden="true" style='color:rgb(65, 173, 65);'></i> Like</li>
            <li><i class="fa fa-thumbs-o-down" style='color:rgb(250, 43, 43);'></i> Dislike</li>
            <li><i class="fa fa-comment-o" style='color:rgb(0, 204, 255);'></i> Comments</li>
            <li><i class="fa fa-heart-o" style='color:rgb(255, 0, 0);'></i> Favorite</li>
        </ul>
    </div>

    -->
</div>
