<nav>
  <ul>
      <li class='logo'><a routerLink='/home'>Social</a></li>

      <li><a routerLink='/home' [routerLinkActive]="'active'">Home</a></li>
      <li *ngIf='!isLoggedIn'><a routerLink='/login' [routerLinkActive]="'active'">Login</a></li>
      <li *ngIf='isLoggedIn'><a routerLink='/profile/{{username}}' [routerLinkActive]="'active'">Profile</a></li>
      <li *ngIf='isLoggedIn'><a routerLink='/users' [routerLinkActive]="'active'">Users</a></li>
      <li *ngIf='isLoggedIn'><a routerLink='/messages' [routerLinkActive]="'active'">Messages</a></li>
      <li *ngIf='isLoggedIn' (click)='logout()'><a routerLink='/home'>Logout</a></li>

      <li *ngIf='isLoggedIn' class='username'><a routerLink='/home'>{{username}}</a></li>
  </ul>
</nav>


<div class='body'>
  <router-outlet></router-outlet>
</div>