.body{
    color:white;
}

button{
    font-size: 20px;
    border-radius: 30px;
    padding:8px 16px;
    color:white;
    width:130px;
}

.login-container{
    width: 280px;
    height: 400px;
    padding: 5px;
    text-align: center;
    margin: 25px auto 0 auto;
}

.login-container input{
    background: none;
    border: none;
    padding: 5px;
    font-size: 16px;
    border-bottom: solid 2px rgb(60,60,60);
    margin-bottom: 10px;
    color:white;
}

.login-container button{
    margin-top: 10px;
}

.sign-up{
    margin-top: 30px;
    display: block;
}

.sign-up a{
    color: rgb(170, 228, 255); 
    cursor: pointer;
}

.sign-up a:hover,
.sign-up a:focus
{
    outline:none;
    color:yellow;
}

input:hover,
input:focus{
    outline: none;
    border-bottom: solid 1px yellow;
}

button:hover,
button:focus{
    outline:none;
    background-color: rgb(60, 60, 60);
}

.register-container{
    width: 280px;
    padding: 5px;
    text-align: center;
    margin: 25px auto 0 auto;
    background-color: rgb(20,20,20);
    border-radius: 10px;
}

.form{
    border-radius: 10px;
    text-align: left;
    color:rgb(100,100,100);
    margin-bottom: 10px;
}

.form .title{
    border-bottom: solid 2px rgb(60,60,60);
    color:rgb(150,150,150);
    padding: 5px;
}

.form .input-div{
    margin: 5px;
}

.form input{
    color:white;
    width: 100%;
    box-sizing: border-box;
    background:none;
    border: none;
    padding: 6px;
    font-size: 16px;
    border-radius: 10px;
}
